:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --hero-background-color: #2f303a;
  --hero-button-background-color: #188ce8;
  --footer-contacts-color: rgb(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* цвет основного текста #757575 */

/* цвет вторичного текста #212121 */

/* белый #FFFFFF */

/* акцент #2196F3 */ /* лого в хедере #000000 в футере #FFFFFF   */

/* вторичный цвет фона #E5E5E5   */ /* наша команда #F5F4FA */

.list {
  list-style: none;
}
a {
  text-decoration: none;
}

/*  Логотип  */
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.studio-header-black {
  color: var(--black-color);
}
.studio-footer-white {
  color: var(--white-color);
}

/* Навигация сайта в шапке */
.nav-link {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link.current {
  color: var(--accent-color);
}

.contact-link {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* ----- Майн ----- */
/* Герой */
.hero {
  background-color: var(--hero-background-color);
}
.hero-title {
  color: var(--white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  background-color: var(--hero-button-background-color);
  color: var(--white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
}

/* Преимущества, чем мы занимамся, наша команда */
.features-title,
.work-title,
.team-title {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.features-h3 {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  line-height: 1.14x;
  text-transform: uppercase;
}
.team-h3 {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.position {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Футер */
.footer {
  background-color: var(--footer-background-color);
}
.footer-address {
  color: var(--white-color);
  font-style: normal;
  font-weight: normal;
  line-height: 1.71;
}
.footer-contacts {
  color: var(--footer-contacts-color);
  font-style: normal;
  font-weight: normal;
  line-height: 1.71;
}

/* Портфолио */
.portfolio-project {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
}

/* Кнопки порфолио */
.portfolio-button {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.portfolio-button.current {
  color: var(--accent-color);
}

.footer-contacts:hover,
.footer-address:hover,
.footer-contacts:focus,
.footer-address:focus {
  color: var(--accent-color);
}
